{% extends "base.html" %}

{% block start %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete item "{{object.name}}" ?</legend>
               
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'Items:detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock  %}