{% extends "base.html" %}

{% block start %}
{% for obj in object_list %}

<article class="media content-section">
	<img class="rounded-circle article-img" src="{{ obj.owner.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
     
      <small class="text-muted">{{ obj.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'Items:detail' obj.id%}">{{obj.name }}</a></h2>
    <p class="article-content">{{ obj.description}}</p>
    <p class="article-content">Price:{{ obj.price }}</p>
  </div>
</article>
{% endfor %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      
      <small class="text-muted">End of Aution</small>
    </div>
    
  </div>
</article>

{% endblock %}